---
import WidgetLayout from "@/components/widget/WidgetLayout.astro";

const websiteData = [
	{
		title: "ä¸ªäººå¯¼èˆª",
		url: "https://home.blueke.top/",
		badge: "ä¸ªäººä¸»é¡µ",
	},
	{
		title: "ðŸš†å¼€å¾€",
		url: "https://www.travellings.cn/go.html",
		badge: "å‹é“¾æŽ¥åŠ›",
	},
	{
		title: "ðŸ“ç¬”å¢¨è¿¹",
		url: "https://blogscn.fun/random.html",
		badge: "å‹é“¾æŽ¥åŠ›",
	},
	{
		title: "ðŸªåšå‹åœˆ",
		url: "https://www.boyouquan.com/planet-shuttle",
		badge: "å‹é“¾æŽ¥åŠ›",
	},
	{
		title: "RSSé˜…è¯»å™¨",
		url: "http://reader.blueke.top/i/",
		badge: "å·¥å…·",
	},
	{
		title: "ç«™ç‚¹ç›‘æµ‹",
		url: "https://umami.blueke.top/share/vtD8GhH5iWtKf6uG/www.blueke.top",
		badge: "å·¥å…·",
	},

	// ä½ å¯ä»¥ç»§ç»­æ·»åŠ æ›´å¤šçš„ç½‘é¡µæ•°æ®
];

interface Props {
	class?: string;
	style?: string;
}

const COLLAPSED_HEIGHT = "7.5rem";
const COLLAPSE_THRESHOLD = 7;
const isCollapsed = websiteData.length >= COLLAPSE_THRESHOLD;
const className = Astro.props.class;
const style = Astro.props.style;
---

<WidgetLayout name={"æ›´å¤š"} id="categories" class={className} isCollapsed={isCollapsed} collapsedHeight={COLLAPSED_HEIGHT} style={style}>
    {websiteData.map((data) => (
        <a href={data.url} target="_blank" rel="noopener noreferrer" aria-label={data.title}>
            <button
                class:list={`
                    w-full
                    h-10
                    rounded-lg
                    bg-none
                    hover:bg-[var(--btn-plain-bg-hover)]
                    active:bg-[var(--btn-plain-bg-active)]
                    transition-all
                    pl-2
                    hover:pl-3
                    
                    text-neutral-700
                    hover:text-[var(--primary)]
                    dark:text-neutral-300
                    dark:hover:text-[var(--primary)]
                `}
            >
                <div class="flex items-center justify-between relative mr-2">
                    <div class="overflow-hidden text-left whitespace-nowrap overflow-ellipsis  ">
                        {data.title}
                    </div>
                    {data.badge && (
                        <div class="transition px-2 h-7 ml-4 min-w-[2rem] rounded-lg text-sm font-light
                            text-[var(--btn-content)] dark:text-[var(--deep-text)]
                            bg-[oklch(0.95_0.025_var(--hue))] dark:bg-[var(--primary)]
                            flex items-center justify-center">
                            {data.badge}
                        </div>
                    )}
                </div>
            </button>
        </a>
    ))}
</WidgetLayout>    