---

import MainGridLayout from "@/layouts/MainGridLayout.astro";

import { getEntry } from "astro:content";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import WalineComment from "@components/mine/WalineComment.astro";
import Markdown from "@components/misc/Markdown.astro";

const friendsPost = await getEntry("spec", "friends");

const { Content } = await friendsPost.render();
const items = [
	{
		title: "Astro",
		imgurl: "https://avatars.githubusercontent.com/u/44914786?s=48&v=4",
		desc: "一个现代化的静态站点生成框架",
		siteurl: "https://github.com/withastro/astro",
		tags: ["框架"],
	},
	{
		title: "Fuwari",
		imgurl:
			"https://gcore.jsdelivr.net/gh/Keduoli03/My_img@img/demo-avatar.png",
		desc: "基于 Astro 开发的静态博客模板",
		siteurl: "https://github.com/saicaca/fuwari",
		tags: ["主题"],
	},
	{
		title: "天影大侠的小站",
		imgurl:
			"https://weavatar.com/avatar/7388ea4765a319d5f83fea61c3236384?s=1000",
		desc: "The Blog of SkyShadowHero!",
		siteurl: "https://blog.skyshadow.fun/",
		tags: ["友链"],
	},
	{
		title: "伊卡的记事本",
		imgurl: "https://ikamusume7.org/avatar.webp",
		desc: "又菜又爱学",
		siteurl: "https://ikamusume7.org",
		tags: ["友链"],
	},
	{
		title: "M次元",
		imgurl: "https://mmxza.com/usr/uploads/2025/03/2201968370.gif",
		desc: "小声记录小事",
		siteurl: "https://mmxza.com/",
		tags: ["友链"],
	},
	{
		title: "JIPA233の小窝",
		imgurl: "https://jipa.moe/static/avatar.jpg",
		desc: "Deed divides beings into lower and higher ones.",
		siteurl: "https://jipa.moe",
		tags: ["友链"],
	},
	{
		title: "岚天小窝",
		imgurl:
			"https://gravatar.ltya.top/avatar/5af06b461740fb2bd7467b8561399703?s=500",
		desc: "一只鸽子住在这里~",
		siteurl: "https://blog.ltya.top/",
		tags: ["友链"],
	},
];
---
<MainGridLayout title={i18n(I18nKey.friends)} description={i18n(I18nKey.friends)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-8 my-4">
                {items.map((item) => (   
                    <div class="flex flex-nowrap items-stretch h-28 gap-4 rounded-[var(--radius-large)]">
                        <div class="w-28 h-28 flex-shrink-0 rounded-lg overflow-hidden bg-zinc-200 dark:bg-zinc-900">
                            <img src={item.imgurl} alt="站点头像" class="w-full h-full object-cover">
                        </div>
                        <div class="grow w-full">
                            <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 mb-1">{item.title}</div>
                            <div class="text-50 text-sm font-medium">{item.desc}</div>
                            <div class:list={["items-center", {"flex": true, "hidden md:flex" : false}]}>
                                <div class="flex flex-row flex-nowrap items-center">
                                    {(item.tags && item.tags.length > 0) && item.tags.map((tag,i) => (  
                                    <div class:list={[{"hidden": i==0}, "mx-1.5 text-[var(--meta-divider)] text-sm" ]}>
                                        /
                                    </div>  
                                    <span class="transition text-50 text-sm font-medium">
                                        {tag}
                                    </span>))}
                                    {!(item.tags && item.tags.length > 0) && <div class="transition text-50 text-sm font-medium">{i18n(I18nKey.noTags)}</div>}
                                </div>
                            </div>
                        </div>
                        <a href={item.siteurl} target="_blank" rel="noopener noreferrer"class="flex btn-regular w-[3.25rem] rounded-lg bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="transition text-[var(--primary)] text-4xl mx-auto iconify iconify--material-symbols" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"></path>
                            </svg>
                        </a>
                    </div>
                ))}
            </div>  
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
    <WalineComment />
</MainGridLayout>